[Desktop Entry]
Name=Export PIH EMR Database
Name[es]=Exportar Baso de Datos de PIH EMR
Comment=Exports the PIH EMR database to a file in the Home directory
Comment[es]=Exporta el baso de datos de PIH a un archivo en la Carpeta Personal
Exec=/etc/puppet/bin/pihemr_export.sh
Icon=/usr/share/icons/hicolor/scalable/apps/pihemr_export.png
Terminal=true
Type=Application
Categories=Utility;Application;
