[Desktop Entry]
Name=View PIH EMR Logs
Name[es]=Ver Registros de PIH EMR
Comment=Opens the PIH EMR log file for viewing
Comment[es]=Ver los registros del sistema de PIH EMR
Exec=gedit /home/tomcat7/.OpenMRS/openmrs.log
Icon=/usr/share/icons/hicolor/scalable/apps/pihemr_logs.svg
Terminal=false
Type=Application
Categories=Utility;Application;
