[Desktop Entry]
Name=Update PIH EMR 
Name[es]=Actualizar PIH EMR
Comment=Downloads and installs updates to PIH EMR
Comment[es]=Descargar y installar actualizaciones para PIH EMR
Exec=/etc/puppet/bin/update_pihemr.sh
Icon=/usr/share/icons/hicolor/scalable/apps/update_pihemr.png
Terminal=true
Type=Application
Categories=Utility;Application;
